<template>
  <div>
  <router-link class="catalog__pic" :to="{name: 'product', params: {id: product.id}}">
    <img :src="product.image" :alt="product.title">
  </router-link>

  <h3 class="catalog__title">
    <a href="#">
      {{ product.title }}
    </a>
  </h3>

  <span class="catalog__price">
    {{ product.price | numberFormat }} ₽
  </span>

  <ProductColor :colors="product.colors" />
  </div>
</template>

<script>
  import ProductColor from "@/components/common/ProductColor";
  import numberFormat from "@/helpers/numberFormat";

  export default {
    props: ['product', 'index'],
    components: {ProductColor},
    filters: {
      numberFormat
    }
}
</script>
