<template>
  <main class="content container">
    <div class="content__top content__top--catalog">
      <h1 class="content__title">
        Каталог
      </h1>
      <span class="content__info">
        152 товара
      </span>
    </div>

    <div class="content__catalog">
      <ProductFilter :price-from.sync="filterPriceFrom" :price-to.sync="filterPriceTo" :category-id.sync="filterCategoryId" :color-id.sync="filterColorId"/>

      <section class="catalog">
        <div v-if="productsLoading">Загрузка товаров...</div>
        <div v-if="productsLoadingFailed">Произошла ошибка при загрузке товаров<button @click="loadProducts">Попробовать ещё раз</button></div>
        <ProductList :products="products" />
        <BasePagination v-model="page" :count="countProducts" :per-page="productsPerPage"/>
      </section>
    </div>
  </main>
</template>

<script>
import ProductList from '@/components/product/ProductList'
import BasePagination from '@/components/base/BasePagination'
import ProductFilter from '@/components/product/ProductFilter'
import { mapActions } from "vuex";

export default {
  components: {ProductList, BasePagination, ProductFilter},
  data() {
    return {
      filterPriceFrom: 0,
      filterPriceTo: 0,
      filterCategoryId: 0,
      filterColorId: 0,

      page: 1,
      productsPerPage: 3,

      productsData: null,

      productsLoading: false,
      productsLoadingFailed: false
    }
  },
  computed: {
    products(){
      return this.productsData
        ? this.productsData.items.map( product => {
          return {
            ...product,
            image: product.image.file.url
          }
        })
        : [];
    },
    countProducts(){
      return this.productsData ? this.productsData.pagination.total : 0;
    }
  },
  watch: {
    page(){
      this.loadProducts();
    },
    filterPriceFrom(){
      this.loadProducts();
    },
    filterPriceTo(){
      this.loadProducts();
    },
    filterCategoryId(){
      this.loadProducts();
    },
    filterColorId(){
      this.loadProducts();
    }
  },
  methods: {
    ...mapActions(['loadProductsData']),
    loadProducts(){
      this.productsLoading = true;
      this.productsLoadingFailed = false;
      clearTimeout(this.loadProductsTimer);
      this.loadProductsTimer = setTimeout(() => {
        this.loadProductsData({
          page: this.page,
          productsPerPage: this.productsPerPage,
          filterCategoryId: this.filterCategoryId,
          filterPriceFrom: this.filterPriceFrom,
          filterPriceTo: this.filterPriceTo,
          filterColorId: this.filterColorId
        })
          .then(response => this.productsData = response.data)
          .catch(() => this.productsLoadingFailed = true)
          .then(() => this.productsLoading = false)
      }, 0);
    }
  },
  created(){
    this.loadProducts();
  }
};
</script>
