import {API_BASE_URL} from "../config";

<template>
<main class="content container">
    <div class="content__top">
      <ul class="breadcrumbs">
        <li class="breadcrumbs__item">
          <router-link class="breadcrumbs__link" :to="{name: 'main'}">
            Каталог
          </router-link>
        </li>
        <li class="breadcrumbs__item">
          <router-link class="breadcrumbs__link" :to="{name: 'cart'}">
            Корзина
          </router-link>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link">
            Оформление заказа
          </a>
        </li>
      </ul>

      <h1 class="content__title">
        Корзина
      </h1>
      <span class="content__info">
        {{ products.length }} товара
      </span>
    </div>

    <section class="cart">
      <form class="cart__form form" action="#" method="POST" @submit.prevent="makeOrder">
        <div class="cart__field">
          <div class="cart__data">
            <BaseFormText title="ФИО" placeholder="Введите ваше полное имя" :error="formError.name" v-model="formData.name" />
            <BaseFormText title="Адрес доставки" placeholder="Введите ваш адрес" :error="formError.address" v-model="formData.address" />
            <BaseFormText title="Телефон" placeholder="Введите ваш телефон" type="tel" :error="formError.phone" v-model="formData.phone" />
            <BaseFormText title="Email" placeholder="Введите ваш Email" type="email" :error="formError.email" v-model="formData.email" />
            <BaseFormTextArea title="Комментарий к заказу" placeholder="Ваши пожелания" :error="formError.comment" v-model="formData.comment" />
          </div>

          <div class="cart__options">
            <h3 class="cart__title">Доставка</h3>
            <ul class="cart__options options">
              <li class="options__item">
                <label class="options__label">
                  <input class="options__radio sr-only" type="radio" name="delivery" value="0" checked="">
                  <span class="options__value">
                    Самовывоз <b>бесплатно</b>
                  </span>
                </label>
              </li>
              <li class="options__item">
                <label class="options__label">
                  <input class="options__radio sr-only" type="radio" name="delivery" value="500">
                  <span class="options__value">
                    Курьером <b>500 ₽</b>
                  </span>
                </label>
              </li>
            </ul>

            <h3 class="cart__title">Оплата</h3>
            <ul class="cart__options options">
              <li class="options__item">
                <label class="options__label">
                  <input class="options__radio sr-only" type="radio" name="pay" value="card">
                  <span class="options__value">
                    Картой при получении
                  </span>
                </label>
              </li>
              <li class="options__item">
                <label class="options__label">
                  <input class="options__radio sr-only" type="radio" name="pay" value="cash">
                  <span class="options__value">
                    Наличными при получении
                  </span>
                </label>
              </li>
            </ul>
          </div>
        </div>

        <OrderItems :products="products" :total-price="totalPrice" showOrderButton="true"/>
        <div class="cart__error form__error-block" v-if="formErrorMessage">
          <h4>Заявка не отправлена!</h4>
          <p>
            {{ formErrorMessage }}
          </p>
        </div>
      </form>
    </section>
  </main>
</template>

<script>
  import BaseFormText from "@/components/base/BaseFormText";
  import BaseFormTextArea from "@/components/base/BaseFormTextArea";
  import OrderItems from "@/components/order/OrderItems";
  import { mapActions, mapGetters } from "vuex";

  export default {
    components: {BaseFormText, BaseFormTextArea, OrderItems},
    data(){
      return {
        formData: {},
        formError: {},
        formErrorMessage: ''
      }
    },
    computed: {
      ...mapGetters({
        products: 'cartDetailProducts',
        totalPrice: 'cartTotalPrice'
      })
    },
    methods: {
      ...mapActions(['orderProducts']),
      makeOrder() {
        this.formError = {};
        this.formErrorMessage = '';

        this.orderProducts(this.formData)
          .then(response => {
            this.$store.commit('resetCart');
            this.$store.commit('updateOrderInfo', response.data);
            this.$router.push({name: 'orderInfo', params: {id: response.data.id}});
          })
          .catch(error => {
            this.formError = error.response.data.error.request || {};
            this.formErrorMessage = error.response.data.error.message;
          })
      }
    }
  }
</script>
