<template>
    <main class="content container">
    <div class="content__top">
      <ul class="breadcrumbs">
        <li class="breadcrumbs__item">
          <router-link class="breadcrumbs__link" :to="{name: 'main'}">
            Каталог
          </router-link>
        </li>
        <li class="breadcrumbs__item">
          <router-link class="breadcrumbs__link" :to="{name: 'cart'}">
            Корзина
          </router-link>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link">
            Оформление заказа
          </a>
        </li>
      </ul>

      <h1 class="content__title" v-if="orderInfo">
        Заказ оформлен <span>№ {{ orderInfo.id }}</span>
      </h1>
      <h1 class="content__title" v-else>
        {{ orderInfoError }}
      </h1>
    </div>

    <section class="cart" v-if="orderInfo">
      <form class="cart__form form" action="#" method="POST">
        <div class="cart__field">
          <p class="cart__message">
            Благодарим за&nbsp;выбор нашего магазина. На&nbsp;Вашу почту придет письмо с&nbsp;деталями заказа. 
            Наши менеджеры свяжутся с&nbsp;Вами в&nbsp;течение часа для уточнения деталей доставки.
          </p>

          <ul class="dictionary">
            <li class="dictionary__item">
              <span class="dictionary__key">
                Получатель
              </span>
              <span class="dictionary__value">
                {{ orderInfo.name }}
              </span>
            </li>
            <li class="dictionary__item">
              <span class="dictionary__key">
                Адрес доставки
              </span>
              <span class="dictionary__value">
                {{ orderInfo.address }}
              </span>
            </li>
            <li class="dictionary__item">
              <span class="dictionary__key">
                Телефон
              </span>
              <span class="dictionary__value">
                {{ orderInfo.phone }}
              </span>
            </li>
            <li class="dictionary__item">
              <span class="dictionary__key">
                Email
              </span>
              <span class="dictionary__value">
                {{ orderInfo.email }}
              </span>
            </li>
            <li class="dictionary__item">
              <span class="dictionary__key">
                Способ оплаты
              </span>
              <span class="dictionary__value">
                картой при получении
              </span>
            </li>
          </ul>
        </div>

        <OrderItems :products="orderProducts" :total-price="orderTotalPrice" v-if="orderProducts" />
      </form>
    </section>
  </main>
</template>

<script>
    import numberFormat from "@/helpers/numberFormat";
    import OrderItems from "@/components/order/OrderItems";
    import { mapGetters } from 'vuex';
    export default {
        components: { OrderItems },
        filters: { numberFormat },
        data() {
            return {
                orderInfoError: null
            }
        },
        computed: {
            ...mapGetters({
                orderInfo: 'orderDetailInfo'
            }),
            orderProducts() {
                return (this.orderInfo && this.orderInfo.basket)
                  ? this.orderInfo.basket.items.map(item => {
                    return {
                      ...item,
                      amount: item.quantity
                    }
                  }) : [];
            },
            orderTotalPrice() {
                return this.orderInfo ? this.orderInfo.totalPrice : 0;
            }
        },
        watch: {
          '$route.params.id': {
            handler() {
              console.log(0);
              if (this.$store.state.orderInfo && this.$store.state.orderInfo.id === this.$route.params.id) {
                  return;
              }
              console.log(1);
              this.orderInfoError = null;
              this.$store.dispatch('loadOrderInfo', this.$route.params.id)
                  .catch(error => {
                    console.log(2);
                      this.orderInfoError = error.response.data.error.message;
                      if (error.response.status === 404) {
                          console.log(3);
                          this.$router.push({name: 'notFound'});
                      }
                  });
            },
            immediate: true
          }
        }
    }
</script>