<template>
  <div class="form__counter">
    <button type="button" aria-label="Убрать один товар" @click.prevent="decAmount">
      <svg width="10" height="10" fill="currentColor">
        <use xlink:href="#icon-minus"></use>
      </svg>
    </button>

    <input type="text" v-model.number="currentAmount" name="count">

    <button type="button" aria-label="Добавить один товар" @click.prevent="incAmount">
      <svg width="10" height="10" fill="currentColor">
        <use xlink:href="#icon-plus"></use>
      </svg>
    </button>
  </div>
</template>

<script>

export default {
  props: ['amount'],
  computed: {
    currentAmount: {
      get(){
        return this.amount;
      },
      set(value){
        this.$emit('update:amount', value);
      }
    }
  },
  methods: {
    incAmount(){
      this.currentAmount++;
    },
    decAmount(){
      if (this.currentAmount > 0) {
        this.currentAmount--;
      }
    }
  }
}
</script>
